@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar-container>* {
        @apply px-4 py-2 overflow-hidden max-w-[76px] sm:max-w-[900px] transition-all duration-500 ease-in-out;
    }

    .input-text {
        @apply w-[300px] text-secondary bg-primary py-2 px-4 border border-secondary rounded-2xl focus:outline-none ;
    }

    .btn-primary {
        @apply text-white bg-accent-dark py-2 px-4 rounded-2xl focus:outline-none transition-all duration-200 ease-in-out font-semibold;
    }

    .btn-primary:hover {
        @apply filter brightness-110;
    }

    .input-select {
        background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
        background-position: calc(100% - 0.75rem) center !important;
        @apply w-[300px] text-secondary bg-primary py-2 border border-secondary rounded-2xl focus:outline-none ;
        @apply px-4 appearance-none;
        -webkit-appearance: none;
        -moz-appearance: none; 
    }

    .khs {
        /* set image to cover no repeat */
        font-size: 20px;
        background-size: cover;
        line-height: normal;
        background-repeat: no-repeat;
        font-family: Merchant;
    }
    .khs-default {
        background-image: url("/static/default.jpg");
    }
    .khs-default .themed-border{
        border-color: black;
    }

    .khs-etudier {
        color: #283618;
        background-image: url("/static/etudier.jpg");
    }

    .khs-etudier .themed-border{
        border-color: #283618;
    }

    .khs-neon {
        color: yellow;
        background-image: url("/static/neon.jpg");
    }
    .khs-neon svg{
        color: yellow;
    }

    .khs-neon .themed-border{
        border-color: yellow
    }

    .khs-neon img {
        filter: invert();
    }
}

@font-face {
    font-family: Merchant;
    src: url("/static/merchant_copy/Merchant Copy.ttf");
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    color:white;
    background-size: 100% 2px;
    background-position: 0 100%
}

@layer utilities {
    .link {
        @apply font-semibold text-base text-accent;
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#606C38, #606c38);
        background-size: 0 2px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .25s ease-in-out;
    }

    .link:hover {
        background-size: 100% 2px;
        background-position: 0 100%;
        cursor: pointer;
    }
}